.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  color: #2f2e41;
  text-align: center;

  h1 {
    font-size: 32px;
  }

  img {
    width: 60%;
    margin: 0 auto;
  }

  p {
    font-size: 22px;
  }
}
